
.current{
	font_weight: bold;
	background_color: #ddd;
	color:sandybrown;
}

nav ul{
	list-style-type: none;
  }

  nav{
	background-color: #ddd;
	padding: 8px 0;    
	text-align: center;   
  }

  #main{
	  text-align: center;
  }

  h1{
	font-size: 100px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
  }

body{
	margin:.5%;
	padding:1%;
	font-size:150%;
}

/* break                                            break*/
* {
	margin: 0;
	padding: 0;
	border: 0;
  }
  

  .img__wrap {
	position: relative;
	height: 200px;
	width: 257px;
  }
  
  .img__description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;
  
	/* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
	visibility: visible;
	opacity: 1;
  }
/* break                                            break*/


  .container{
	  display:flex;
	  flex-wrap: wrap;
	  padding: 0 4px;

	  flex: 50%;
	  padding: 0 4px;
  }

 



/*Style the images!*/
img{
    height: 200px;
    width:auto;
    padding: 50px;
    border-radius: 10px;
    margin: 10px;
}



/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}


nav li{
	padding:10px;
	width:25%;
	display: inline-block;
	width: 20%;
}

a:visited{color:#ec53f4}
}



/*FOOTER*/
html, body {
	height: 100%;
	margin: 0;
  }
  .content {
	  /* height from pics to footer*/ 
	padding: 80px;
	min-height: 100%;
	margin: 0 auto -50px;
  }

  /* thickness of the footer block*/ 
  .footer{
	height: 50px;
  }
  
footer {
	background-color:rosybrown;
    text-align: center;
    padding-bottom: 1px;
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 20px;
}